@model downstreem.Dtos.MockDTO.ProjectDTO

@{
    ViewData["Title"] = "Mock Project";
}

<div>
    <ul>
        <li>
            @Model.DataType
        </li>
        <li>
            @Model.Id
        </li>
        <li>
            @Model.Privileged
        </li>
        li>
            @Model.LastAtivities
        </li>
    </ul>
</div>